.signup {
  text-align: center;
}

.signup-header {
  background-color: #d1edf2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.signup-image {
  width: 900px;
  height: 350px;
  margin-top: 20px;
}
